body
{
	background-color: #111;
	height: 100%;
}

.logo
{
	background: url(../img/bulla-restaurant-logo.png) no-repeat center center; 
  	background-size: 60%;
  	height: 33.3%;
}

.button
{
	margin: 0;
	margin-bottom: 1px;
	background-color: #222;
}